@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-7px);
        /* ← ここを大きく */
    }

    40% {
        transform: translateX(7px);
        /* ← ここも大きく */
    }

    60% {
        transform: translateX(-7px);
    }

    80% {
        transform: translateX(7px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake-on-hover:hover {
    animation: shake 0.01s infinite;
}